img {
  width: 96%;
  text-align: center;
}
h2,h3{
  text-align: center;
}
#Profile{
  width: 13%;
  border-style: solid;
}

h2 {
  color: red;
  font-size: 35px;
}

button {
  margin-bottom: 10px;
}
